/* Стили для всего тела страницы */
body {
	overflow: hidden;  /* Запрещает прокрутку содержимого страницы */ 
	margin: 0; /* Убирает отступы по умолчанию */
	background-color: #111111; /* Устанавливает тёмно-серый цвет фона */
	display: flex; /* Использует flexbox для распределения элементов */
	justify-content: center; /* Центрирует по горизонтали все элементы */
    align-items: center; /* Центрирует по вертикали все элементы */
} 

/* Стили для элемента с идентификатором cnvs */
#cnvs {
  	background-color: #111111; /* Устанавливает тёмно-серый цвет фона */	
	position: fixed; /* Фиксирует позицию элемента относительно окна браузера */
	top: 50%; /* Размещает элемент вертикально по центру страницы */
	left: 50%; /* Размещает элемент горизонтально по центру страницы */
	transform: translate(-50%, -50%); /* Центрирует элемент точно по центру */
	
    border-radius: 10px; /* Устанавливает скругление углов элемента */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Добавляет тень элементу */
}
	
	
